{% extends 'base.html' %}



{% block header %}{%endblock%}

{% block content %}

<div>
    <canvas id="lineChart" width="900" height="400"></canvas>
</div>

    <script>
        var ctx = document.getElementById("lineChart").getContext("2d");
        var lineChart = new Chart(ctx, {
            labels:{{ labels }},
            datasets: [
                {
                    label: "Games Sold per Console since 2013",
                    data: [{% for item in values %}
                    {{ item }}
                    {% endfor %}],
                    fill: false,
                    lineTension: 0.2
                }
            ]
        });

    </script>



{%endblock%}







